<!DOCTYPE html>
<html>

<head>
    {{ block "meta" . }} {{ partial "meta.html" . }} {{ end }}

    <title>
        {{ block "title" . }} {{ .Title }} {{ end }}
    </title>

    {{ block "head" . }} {{ partial "head" . }} {{ end }}
</head>

<body>
    <div class="container">
        <div id="header">
            {{ block "header" . }} {{ partial "header.html" . }} {{ end }}
        </div>
        <div id="main">
            {{ block "main" . }}{{ end }}
        </div>
        <div id="footer">
            {{ block "footer" . }} {{ partial "footer.html" . }} {{ end }}
        </div>
    </div>
</body>

</html>