[Unit]
Description=iptables rules for open ports
After=systemd-sysctl.service
Before=sysinit.target

[Service]
Type=oneshot
WorkingDirectory=/home/rusnasonov
ExecStart=/sbin/iptables-restore iptables.rules
ExecReload=/sbin/iptables-restore iptables.rules
ExecStop=/bin/sh -c 'flush-iptables.sh'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
