.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-meta {
  color: #939393;
  font-size: 16px;
}

.article-meta > ul {
    list-style: none;
}