.text-field {
    font-size: 100%;
    font-family: 'PT Serif', serif;
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: auto minmax(auto, 700px) auto;
    grid-template-rows:  auto auto 40px;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer ."
}