{{ partial "head.html" . }}

<body>
    <div id="container">
        {{ partial "header.html" . }}
        <section id="main" class="outer">
            {{ range .Paginator.Pages }}
            <article class="article article-type-post" itemscope itemprop="blogPost">
                <div class="article-inner">
                    {{ if .Title }}
                    <header class="article-header">
                        <h1 itemprop="name">
                            <a class="article-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h1>
                    </header>
                    {{ end }}
                    <div class="article-meta">
                        <ul class="subline">
                            <li>
                                <time datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
                            </li>
                            <li>
                                {{ .WordCount }} words 
                            </li>
                            <li>
                                {{ range .Params.tags }}
                                <a class="article-tag-list-link" href="{{ $.Site.BaseURL}}tags/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            </li>
                            
                        </ul>

                        {{ if .Site.Params.disqusShortname }}
                        <div class="article-comment-link-wrap">
                            <a href="{{ .RelPermalink }}#disqus_thread" class="article-comment-link">Comments</a>
                        </div>
                        {{ end }}
                    </div>
                    <div class="article-entry" itemprop="articleBody">
                        <p>
                            {{ if .Params.featuredImage }}
                            <img src="{{.Params.featuredImage}}">
                            <br>{{ end }} {{ .Summary }}
                        </p>
                        <p class="article-more-link">
                            <a href="{{ .RelPermalink }}">Read More</a>
                        </p>
                    </div>

                </div>
            </article>
            {{ end }} {{ partial "pagination.html" . }}
        </section>
        {{ partial "footer.html" . }}
    </div>
</body>

</html>